@import "../../global.scss";

.skills{
    background-color: $mainColorDark;
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .title{
        font-size: 50px;
        padding-top: 70px;
        padding-bottom: 10px;
    }
    .subtitle{
        font-size: 18px;
        padding: 24px 0;
    }

    .s_container{
        row-gap: 0;
        width: 500px;

        .skills_header{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            width: 100%;
            cursor: pointer;
        }
    }

    
}

.skills_titles{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* Before change at 28.01.2022
.skills_list{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}*/

.skills_list{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 170px;
    grid-auto-rows: 170px;
    grid-auto-flow: row;
}


.skill_bg{
    background-color: $highlightDark;
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 50%;

    width:  150px;
    height: 150px;
    border: 1px solid $textColor;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textColor;
    position: relative;
    transition: all .5s ease;
    flex-wrap: wrap;

    h3,h4{
        position: absolute;
        font-size: 0px;
    }

    img{
        width: 70%;//80%;
        height: 70%;//80%;
        margin-top: 5px;
        object-fit: cover;
        z-index: 1;
    }

    &:hover{
        img{
            opacity: 0.1;
            z-index: 0;
        }
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 18px;
        }
    }
}


.active .skills_header{
    background-color: $highlight;
    border-radius: 10px;
}

.active .skills_title{
    color: $textColor2;
}

.active .skills_subtitle{
    color: $textColor2;
}


.skills_icon{
    height: 48px;
    width: 48px;
    padding-right: 10px;
}


.skills_arrow{
    height: 36px;
    width: 36px;
    margin-left: auto;
    margin-right: 0;
    transition: 0.2s;
}



.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: $highlightDark;
}

//New shit, if you want to remove it, remove skills_bar2 and skillbar_container

.skills_bar2{
    border-radius: 5px;
    height: 6px;
    width: 46px;
    background-color: $highlightDark;
    margin-right: 10px;
    display: inline-block;

    &.a{
        background-color: $highlight;
    }
}

.skillbar_container{
    padding-left: 0px;
}


.skills_percentage{
    display: block;
    background-color: $highlight;
}

.skills_java{
    width: 90%;
}

.skills_python{
    width: 70%;
}

.skills_cpp{
    width: 50%;
}

.skills_content{
    padding-top: 20px;
}

.inactive .skills_list{
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s linear, max-height 0.8s linear 1s;
    max-height: 0px;
}


.active .skills_list{
    max-height: max-content;
    height: max-content;
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity .5s linear;
}


.active .skills_arrow{
    filter: grayscale(1) brightness(5);
    transform: rotate(-180deg);
    
}

.active .skills_icon{
    filter: grayscale(1) brightness(5);
}

