.app{
    height: 100vh;

    .sections{
        width: 100%;
       // height: calc(100vh - 70px);
        height: 100vh;
        background-color: #1e191f;
        position: relative;
        //top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;   //chrome, etc.
        }

        > *{
            width: 100vw;
            //height: calc(100vh - 70px);
            height: 100vh;
            scroll-snap-align: start;
        }
    }
}